<!-- <section class="vl-faq-inner sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h2 class="title mb-60 text-center">Frequently Asked Questions</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-12">
          <div class="vl-faq-accordion">
            <div class="row">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <div class="row">
                    
                  <div class="col-lg-6">
                    <div class="accordion" id="accordionExample">
                      <div class="vl-accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How ​​can I donate to a charity?
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>You can browse the search results on the homepage.<br> After selecting a charity, click "Donate Now" and receive the requested amount.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How ​​do I contact the administration if I encounter a problem?
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTw" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>You can use the "Report a Problem" button on your profile page,<br> or from the "Contact Us" page.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How ​​can I add a new charity?
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>You must be registered as a user. <br> After logging in, click "Add Charity" and fill out basic information such as name, description, map location, and photo. After that, you wait for the administration's approval.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="accordion" id="accordionExample1">
                      <div class="vl-accordion-item">
                        <h2 class="accordion-header" id="heading4">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Do I need an account to donate?
                          </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            <p>Yes, so you can track <br> your donations and receive invoices and updates from specialists.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item">
                        <h2 class="accordion-header" id="heading5">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            How ​​do I know if an effective donation has been made?
                          </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            <p>You will receive a confirmation email,<br> and you can also download a PDF from your account.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item">
                        <h2 class="accordion-header" id="heading6">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            How ​​do I add a rating or comment to a charity?
                          </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            <p>After logging in, you can go to your profile page<br> and write your rating or share your experience (testimonial).</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item">
                        <h2 class="accordion-header" id="heading7">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            I'm a charity administrator. Can I edit the information?
                          </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            <p>After your charity is accepted by the administration,<br> you still have the ability to edit its information through your control panel.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->

 <!-- <div class="row">
  <div class="col-lg-6">
    <div class="accordion" id="accordionExample">
      <div *ngFor="let faq of FAQData" class="vl-accordion-item">
        <h2 class="accordion-header" [id]="'heading' + faq.id">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + faq.id" aria-expanded="true" [attr.aria-controls]="'collapse' + faq.id">
            {{ faq.question }}
          </button>
        </h2>
        <div [id]="'collapse' + faq.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + faq.id" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>{{ faq.answer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<section class="vl-faq-inner sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2 class="title mb-60 text-center">Frequently Asked Questions</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="vl-faq-accordion">
          <div class="row">
            <!-- Left Column -->
            <div class="col-lg-6">
              <div class="accordion" id="accordionExample">
                <div *ngFor="let faq of FAQData.slice(0, Math.ceil(FAQData.length / 2))" class="vl-accordion-item">
                  <h2 class="accordion-header" [id]="'heading' + faq.id">
                    <button class="accordion-button collapsed" type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse' + faq.id"
                      aria-expanded="false"
                      [attr.aria-controls]="'collapse' + faq.id">
                      {{ faq.question }}
                    </button>
                  </h2>
                  <div [id]="'collapse' + faq.id" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + faq.id"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>{{ faq.answer }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Right Column -->
            <div class="col-lg-6">
              <div class="accordion" id="accordionExample2">
                <div *ngFor="let faq of FAQData.slice(Math.ceil(FAQData.length / 2))" class="vl-accordion-item">
                  <h2 class="accordion-header" [id]="'heading' + faq.id">
                    <button class="accordion-button collapsed" type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse' + faq.id"
                      aria-expanded="false"
                      [attr.aria-controls]="'collapse' + faq.id">
                      {{ faq.question }}
                    </button>
                  </h2>
                  <div [id]="'collapse' + faq.id" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + faq.id"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>{{ faq.answer }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
