/* .container{
display: flex;

} */
 
.card {
    background-color: #fff;
    /* border-radius: 20px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 310px;
    height: 319px;
    text-align: center;
    position: relative;
     right: 1130px;
    top:auto; 
    overflow: hidden;
    border: 5px solid #983906e3;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 13px;
    border-bottom-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-top-left-radius: 40px;
    overflow-y: scroll;
    scrollbar-width: none;
    direction: ltr;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}
.card ul {
    list-style: disc;
    direction: rtl;
    padding: 0;
    text-align: right;
    margin-bottom: 2px;
}
.card ul li {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.card ul li:hover {
    background-color: #e0e0e0;
    transform: translateX(10px);
}
/* .container .card a #link{
    text-align: center;
    color:#983906e3 ;
}
 */
