
body {
    font-family: 'Century';
    background: linear-gradient(135deg, rgb(217, 148, 175), #fffffe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
background: #fff;

/* height: fit-content; */
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;


}
.box:hover {
    transform: scale(1.05);
}
.box h3 {
    margin-bottom: 25px;
    
}

.Tlist {
    text-align: left;
}
.addt{
    display: flex;
    /* background: #000; */
}

.Tlist input[type="checkbox"] {
    cursor: pointer;
    padding: 10px;
}


.Tlist input[type="checkbox"]:checked + label  {
    text-decoration: line-through;
    color: #000000b1;
    /* visibility: visible; */
}

.Tlist input[type="text"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid rgba(255, 0, 102, 0.603);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.Tlist input[type="text"]::placeholder {
    color: #aaa;
}
#btn{
    background-color: rgb(209 167 183);
    color: #ffffff;
    border-radius: 11px;
    font-size: small;
    font-weight: bold;
    /* font-weight: lighter; */
    height: 45px;
    width: 60px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
 transition: background-color 0.3s;
}
#btn:hover {
    background-color: rgb(171, 130, 146);
   

}

.Tlist label{
    /* margin-bottom: 105px; */
    padding: 10px;

   
}
/* i{
text-align: right;
padding-left: 180px;
cursor: pointer;
visibility: hidden;
} */

.Tlist input[type="checkbox"]:checked + .delete {
    visibility: visible;
    
}
.no-task {
    /* padding: 105px; */
    margin-bottom: 20px  ;
    color: #605f5f;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}
.delete {
float: right;
/* padding: 4px 10px; */
color: #b93636;
font-size: 12px;
font-weight: bold;
cursor: pointer;
/* visibility: hidden; */

}

.task-stats {
overflow: hidden;
/* margin: 100px auto; */
/* width: 600px; */
font-size: 12px;
padding: 15px;

}


.task-stats .tasks-count {
width: 50%;
float: left;
/* padding: 10px; */
}
.task-stats .tasks-completed {
width: 50%;
float: right;
/* padding: 1px; */
}

.task-stats .tasks-count span,
.task-stats .tasks-completed span {
color: #FFF;
padding: 1px 5px;
font-size: 10px;
border-radius: 4px;
font-weight: bold;
}
.task-stats .tasks-count span {
background-color: #E91E63;
}
.task-stats .tasks-completed span {
background-color: #E91E63;
}

.delete-all {
    background-color:#d1a7b7; 
    float: right;

    color: white; 
    border: none;
    cursor: pointer;
    border-radius: 11px;
    font-size: x-small;
    font-weight: bold;
    transition: background-color 0.3s;
    /* padding-right: 10px; */
    /* margin-left: 340px;  */
    width: 75px;
    display: block;
}
.addt button:hover, .delete-all:hover {
    background-color: rgb(171, 130, 146);
    transition: background-color 0.3s;

}
