table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #FFC107;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #FFC107;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background-color: #fff9e6;
}

p {
    text-align: center;
    color: #666;
    font-weight: bold;
}