<!--===== PRELOADER STARTS =======-->
         <!-- <div class="preloader">
          <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="assets/HomeDesign/img/preloader/vl-preloader-1.1.png" alt=""></div>
          </div>
        </div> -->
     
    
     <!-- ===================== HEADER TOP AREA START =====================-->
     <div class="vl-header-top d-none d-lg-block ">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="vl-header-top-content">
              <p>Are you ready to free case evaluation today? </p>
              <a href="#" class="top-contact">Contact Us</a>
            </div>
          </div>
          <div *ngIf="contactData" class="col-lg-6">
            <div class="vl-header-top-icon">
              <div class="vl-header-top-icbox">
                <div class="top-icon">
                  <span><img src="assets/HomeDesign/img/icons/vl-top-ic-1.1.svg" alt=""></span>
                </div>
                <div class="top-content">
                  <a>{{contactData.email}}</a>
                </div>
              </div>
    
              <div class="vl-header-top-icbox">
                <div class="top-icon">
                  <span><img src="assets/HomeDesign/img/icons/vl-top-ic-1.2.svg" alt=""></span>
                </div>
                <div class="top-content">
                  <a>{{contactData.phonenumber}}</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
   <!-- ===================== HEADER TOP AREA END =====================-->
  
 <!--=====HEADER START=======-->
 <header>
  <div class="header-area homepage1 header header-sticky d-none d-lg-block mt-16" id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-elements header-elements-1">
            <div class="site-logo">
              <a href="index.html"><img src="assets/HomeDesign/img/logo/vl-logo-1.1.png" alt=""></a>
            </div>
            <div class="main-menu">
              <ul>

                <li><a calss="nav-link" routerLink="/">Home </a></li>             
                
                <li><a  class="nav-link" routerLink="/about">About</a></li>
               
                <li><a routerLink="/charity" class="nav-link">Charity </a></li>                    
                
                <li><a routerLink="/contact" class="nav-link">Contact Us </a></li>                                     

                <li><a routerLink="/user/profile" *ngIf="userId" class="nav-link">Profile </a></li>
               
              </ul>
            </div>
            <div class="btn-area">
              <a (click)="logout()" *ngIf="userId" routerLink="/login"   type="button" class="header-btn1">Logout <span><i class="fa-solid fa-arrow-right"></i></span></a>

              <a  routerLink="/login" *ngIf="!userId"  class="header-btn1">Login <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </header>
