<h2  mat-dialog-title>Create New User</h2>
<mat-dialog-content>

<form (submit)="createUser()">
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control" [(ngModel)]="newUser.fullname" name="fullname" required>
  </div>

  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="newUser.username" name="username" required>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" [(ngModel)]="newUser.email" name="email" required>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="newUser.password" name="password" required>
  </div>

  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" [(ngModel)]="newUser.phone" name="phone" required>
  </div>

  <div class="form-group">
    <label>Date of Birth</label>
    <input type="date" class="form-control" [(ngModel)]="newUser.dateofbirth" name="dateofbirth" required>
  </div>

  <div class="form-group">
    <label for="profilepicture">Profile Picture</label>
    <input type="file" #file formControlName="imagename" [(ngModel)]="newUser.profilepicture" (change)="UploadImage(file.files)" />
  </div>
  
  <div *ngIf="newUser.profilepicture">
    <h4>img updated</h4>
    <img [src]=" newUser.profilepicture" alt="Profile Picture" width="100" height="100" />
  </div>
  
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary mr-2">Create</button>
    <button type="button" class="btn btn-danger" (click)="closeDialog()">Cancel</button>
  </div>
</form>

</mat-dialog-content>
