.problem-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
  }

  .full-width {
    width: 100%;
  }

  /* button {
    align-self: flex-end;
  } */
  button{
    margin: 0px 5px;
  }
