/* .table {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-collapse: collapse; 
}
.table th, .table td {
  padding: 8px;
  text-align: left;
} */

.table {
  width: 100%;
  /* padding: 10px; */
  margin: 10px 0;
  border-collapse: collapse; 
}
.table th, .table td {
  padding: 15px 5px;
  text-align: left;
}

button{
  margin: 0px 5px;
}

.charity-form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.form-field {
  flex: 1 1 calc(25% - 16px); /* 4 عناصر بالسطر */
  min-width: 200px;
}

.submit-button {
  margin-top: 20px;
}

.custom-date-picker input {
  color: #e4eaec !important; 
}

.buttons-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.left-buttons {
  display: flex;
  gap: 10px;
}




.date-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 10px;
}

.date-fields {
  display: flex;
  gap: 15px; 
}


::ng-deep .custom-date-picker.mat-focused .mat-form-field-outline {
  border-color: #1e88e5 !important;
}