<div class="content-wrapper">
  <div class="row">
    <!-- <div class="col-xl-3 col-sm-6 grid-margin stretch-card"> -->
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="date-search-container">
            <div>
              <h4 class="card-title">Charity Dashboard: <br><br>Monthly and Annual Reports <br><br>& Comprehensive
                Management</h4>
            </div>
            <div>
              <mat-form-field appearance="outline" class="custom-date-picker">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="custom-date-picker">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>

            </div>
          </div>
          <div class="buttons-container">
            <button type="button" class="btn btn-outline-success btn-sm" (click)="openCreateDialog()"><i
                class="mdi mdi-library-plus"></i>Create New
              Charity</button>

            <div class="left-buttons">
              <button type="button" class="btn btn-outline-info btn-fw" (click)="searchByDate()"><i
                  class="mdi mdi-magnify"></i>Search</button>
              <button type="button" class="btn btn-outline-info btn-fw" (click)="getAllCharities()"><i
                  class="mdi mdi-checkbox-multiple-blank-outline"></i>Show All Charities</button>
              <button type="button" class="btn btn-outline-info btn-fw" (click)="generateReport()"><i
                  class="mdi mdi-file-pdf"></i>Generate Report</button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" #charityTable>
              <thead>
                <tr>
                  <!-- <th>Charity ID</th> -->
                  <th>Charity Name</th>
                  <!-- <th>Charity Description</th> -->
                  <th>Charity Image</th>
                  <!-- <th>Charity Goals</th>-->
                  <th>Charity Location</th>
                  <th>Charity Status</th>
                  <!-- <th>Charity target</th> -->
                  <th>Create Date</th>
                  <!-- <th>User ID</th> -->
                  <th>Category Name</th>
                  <th>Profit</th>
                  <th>User Name</th>
                  <!-- <th>currentdonation</th> -->
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let charity of filteredCharities">
                  <!-- <tr *ngFor="let charity of admin.charities"> -->
                  <!-- <td>{{charity.charityid}}</td> -->
                  <td>{{charity.charityname}}</td>
                  <!-- <td>{{charity.description}}</td> -->
                  <!-- <td>{{charity.charityimg}}</td> -->
                  <td><img src="./assets/charityImages/{{charity.charityimg}}" alt="{{ charity.charityname }}"></td>
                  <!-- <td>{{charity.goals}}</td> -->
                  <td>{{charity.location}}</td>
                  <td>{{charity.status}}</td>
                  <!-- <td>{{charity.target}}</td> -->
                  <td>{{charity.createddate | date}}</td>
                  <!-- <td>{{charity.userid}}</td> -->
                  <td>{{charity.category.categoryname}}</td>
                  <td>{{charity.category.profit | currency}}</td>
                  <td>{{charity.user.username}}</td>
                  <!-- <td>{{charity.currentdonation}}</td> -->
                  <td>
                    <button type="button" (click)="openUpdateDialog(charity)"
                      class="btn btn-outline-secondary btn-sm"><i class="mdi mdi-border-color"></i>Edit</button>
                    <button type="button" (click)="openDeleteDialog(charity.charityid)"
                      class="btn btn-outline-danger btn-sm"><i class="mdi mdi-delete-forever"></i>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <h1 class="display1 text-secondary">Total Profit: {{ totalProfit | currency}} </h1>
            </div>

            <div style="width: 80%; margin: auto;">
              <canvas id="categoryChart" baseChart [datasets]="chartData.datasets" [labels]="chartData.labels"
                [options]="chartOptions" chartType="bar">
              </canvas>
            </div>

            <ng-template #callDeletDailog>
              <h1 mat-dialog-title>Delete Charity</h1>
              <div mat-dialog-content>
                Are you sure you want to delete this item ?
              </div>
              <div mat-dialog-actions>
                <button mat-button mat-dialog-close="yes">Yes</button>
                <button mat-button mat-dialog-close="no" cdkFocusInitial>No</button>
              </div>
            </ng-template>

            <ng-template #callUpdateDailog>
              <form [formGroup]="updateForm" class="charity-form">

                <div class="form-row">
                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Charity Name</mat-label>
                    <input matInput formControlName="charityname" />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>

                  <div class="form-field">
                    <label style="display: block; margin-bottom: 4px;">Upload Image</label>
                    <input type="file" (change)="updateCharitytWithImage($event)" accept="image/*" />
                  </div>

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Goals</mat-label>
                    <textarea matInput formControlName="goals"></textarea>
                  </mat-form-field>
                </div>

                <div class="form-row">

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                      <mat-option value="Pending">Pending</mat-option>
                      <mat-option value="Accepted">Accepted</mat-option>
                      <mat-option value="Rejected">Rejected</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location" />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Latitude</mat-label>
                    <input type="number" matInput formControlName="latitude" readonly />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Longitude</mat-label>
                    <input type="number" matInput formControlName="longitude" readonly />
                  </mat-form-field>
                </div>

                <div class="form-row">
                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Target Amount</mat-label>
                    <input type="number" matInput formControlName="target" />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryid">
                      <mat-option *ngFor="let cat of categories" [value]="cat.categoryid">
                        {{ cat.categoryname }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div id="map" style="height: 150px; width: 100%; margin-top: 20px;"></div>

                <button mat-raised-button [ngStyle]="{ 'background-color': '#01715d', color: 'white' }" type="button"
                  (click)="Update()" [disabled]="updateForm.invalid" class="submit-button">
                  Update Charity
                </button>
              </form>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>