*{
    background-color: #191c24;
}
/* /* Ensure that the dialog is centered vertically and horizontally */
.custom-dialog-container .mat-mdc-dialog-container {
    transform: translate(-50%, -50%) !important; /* Move the dialog to the center */
    position: absolute !important; /* Make sure it's absolutely positioned */
    top: 50% !important; /* Center vertically */
    left: 50% !important; /* Center horizontally */
    z-index: 1050 !important; /* Ensure the dialog appears on top */
  }
  