<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Users Information</h4>
          <p class="card-description">
            <button mat-button class="btn btn-success mb-3" (click)="openCreateUserDialog()">
              <i class="mdi mdi-account-plus"></i> Create New User
            </button>
          </p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Profile Picture</th>
                  <th>Full Name</th>
                  <th>UserName</th>
                  <th>Email</th>
                  <!-- <th>Password</th> -->
                  <th>Phone Number</th>
                  <th>Date Of Birth</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of admin.UserInfo">
                  <!-- <td>{{user.userid }}</td> -->
                  <td class="py-1">
                    <img *ngIf="user.profilepicture" [src]="user.profilepicture" alt="Profile Picture" width="50"
                      height="50" />
                  </td>

                  <td>{{ user.fullname }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <!-- <td>{{ user.password }}</td> -->
                  <td>{{ user.phone }}</td>
                  <td>{{ user.dateofbirth | date}}</td>
                  <td>
                    <div class="d-flex gap-2">
                      <button type="button" (click)="openUpdateDailog(user)" class="btn btn-outline-secondary btn-sm">
                        <i class="mdi mdi-border-color"></i> Edit
                      </button>
                      <button type="button" (click)="openDeleteDialog(user.userid)" class="btn btn-danger btn-sm">
                        <i class="mdi mdi-account-remove"></i> Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <ng-template #openDeleteDailog>
              <div class="p-3" style="padding: 15px">
                <h2>Are You want to delete User Information ?</h2>
                <button class="btn btn-primary m-1" mat-dialog-close="yes">
                  yes
                </button>
                <button class="btn btn-primary m-1" mat-dialog-close="no">
                  No
                </button>
              </div>
            </ng-template>
            <ng-template #callUpdateDailog>
              <h2 mat-dialog-title>Update User</h2>
              <mat-dialog-content class="mat-typography">
                <form [formGroup]="updateForm" appearance="fill">
                  <!-- Full Name -->
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput formControlName="fullname" />
                  </mat-form-field>
                  <br />

                  <!-- Username -->
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" />
                  </mat-form-field>
                  <br />

                  <!-- Email -->
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" />
                  </mat-form-field>
                  <br />

                  <!-- Password -->
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" />
                  </mat-form-field>
                  <br />

                  <!-- Phone Number -->
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone" />
                  </mat-form-field>
                  <br />

                  <!-- Date of Birth -->
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dateofbirth" type="date" />
                  </mat-form-field>
                  <br />

                  <!-- Existing Profile Picture -->
                  <img *ngIf="updateForm.value.profilepicture" [src]="updateForm.value.profilepicture"
                    alt="Profile Picture" width="50" height="50" />

                  <!-- Image Upload Input -->
                  <input type="file" (change)="updateUserWithImage($event)" accept="image/*" />

                  <br />

                  <div class="d-flex justify-content-end">
                    <button mat-button color="primary" (click)="updateUser()" [mat-dialog-close]="true" cdkFocusInitial>
                      Update
                    </button>
                    <button mat-button type="button" color="warn" (click)="closeDialog()">
                      Cancel
                    </button>
                  </div>
                </form>
              </mat-dialog-content>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>