<form [formGroup]="createForm" class="problem-form">

  <div hidden >
    <label>User ID</label>



  <mat-form-field appearance="fill" class="full-width">
    <input matInput formControlName="userid" [value]="userId" readonly>
  </mat-form-field>
  </div>

  <div>
    <label>Problem Text</label>
    <mat-form-field appearance="fill" class="full-width">
      <textarea matInput formControlName="problemtext" placeholder="Describe the problem"></textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button
      [ngStyle]="createForm.valid ? {'background-color': '#ffc107f2', 'color': 'black'} : {}"
      type="submit"
      (click)="saveProblem()"
      [disabled]="createForm.invalid">
      Save Problem
  </button>
</form>
